**/*.DS_Store
**/*.log

**/*.iml
**/.gradle/
**/.idea/
**/.vscode/

**/*.7z
**/*.rar
**/*.war
**/*.zip

**/.bowerrc
**/.sass-cache/
**/.settings/
**/.tmp/
**/bower_components/
**/bower.json
**/dist/
**/nbproject/
**/node_modules/
**/old/
**/package-lock.json
**/version.json
**/version.txt
**/yarn.lock

.history
.history/
.project
.project/
.tern-project
build/
coverage/
integration-test-results.xml
performance/
reports/
results/
test-reports/

scripts/app-*.js
styles/app-*.css

packages/**/build
packages/**/build/
packages/**/release-context.json
packages/**/release-notes.md
packages/framework/src/app/app.config.js
packages/framework/src/app/tasy.config.js
