.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5rem + 2vmin);
  color: white;
}

input {
  font-weight: bolder;
}

#fileUploadLabel {
  cursor: pointer;
}

label {
  padding: 1rem;
  display: inline-block;
}



.files {
  padding: 2rem;
}

a {
    display: block;
    font-size: larger;
    border: 1px solid #282c34;
    background-color: #282c34;
    color: white;
}

ul {
    list-style-type: none;
}